<li id="<%= dom_id @characters[i] %>" class="list-style-none">
    <span class=" text-small">
        <i class="bi bi-box"></i>
        Item <%=i+1%>
    </span>
    <div class="row card mb-3 overflow-hidden m-0" style="height: 220px;">
        <div class="col-3 h-100">
            <% if @characters[i].image.present? %>
            <%= image_tag @characters[i].image, :class => 'w-100 h-100 object-fit-contain', alt: item['name'] %>
            <% else %>
            <%= image_tag("empty_image.jpg") %>
            <% end %>
        </div>
        <div class="col-9 h-100 p-0 d-flex flex-column">
            <div class="p-1 d-flex flex-column flex-grow-1">
                <h2 class="h4"><%=item['name']%></h2>
                <p id="price" class="m-0 p-0">
                    Price: $<%=item['price']%>
                    <% if item['on_sale']==true %>
                    <span class="badge text-bg-danger">
                        Sale!
                    </span>
                    <% end %>
                </p>
                <p class="m-0 p-0">Quantity: <%=item['quantity']%></p>

                <%= form_with url: update_cart_item_path, method: :post do %>
                <%= hidden_field_tag(:character_id, item['character_id']) %>
                <div class="input-group" style="max-width: 130px;">
                    <input type="number" min="1" max="100" name="quantity" class="form-control" id="cart_quantity"
                        value="<%=item['quantity']%>">
                    <%= button_tag 'Update', class: "btn btn-outline-primary btn-sm"%>
                </div>
                <% end %>

                <p class="m-0 p-0 mt-auto ms-auto">
                    <% item_total = item['price'].to_f * item['quantity'].to_f %>
                    Item total: $<span class="fs-4"><%=item_total.round(2)%></span>
                </p>
            </div>
            <div class="border-top py-1 mt-auto">
                <%= button_to cart_path(@characters[i]), method: :delete, class: "btn btn-sm btn-light" do %>
                <%= hidden_field_tag(:character_id, item['character_id']) %>
                <i class="bi bi-x-lg text-danger"></i>
                Remove item
                <% end %>
            </div>
        </div>
    </div>
</li>