<main id="cart_page">
    <header class="page-header-bg-light">
        <h1>Cart</h1>
    </header>

    <div class="container">

        <div id="breadcrumbs" class="d-flex align-items-center gap-1 py-2 text-bg-light my-3">
            <%= link_to 'Home', root_path, :class => 'text-decoration-none' %> /
            <%= link_to 'Store', characters_path, :class => 'text-decoration-none' %>
            <i class="bi bi-arrow-right"></i>
            <span class="text-secondary">Cart</span>
        </div>
        <div class="row g-2">
            <ul class="col-md-8 m-0">
                <% if cart.empty? %>
                <div class="card p-5 text-center">
                    <p>No items in cart.</p>
                    <%= link_to 'Go to store', characters_path %>
                </div>
                <% end %>

                <% cart.each_with_index do |item, i| %>
                <%= render partial: 'cart/cart_item', locals: { item: item, i: i } %>
                <% end %>
            </ul>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="fs-5">SUMMARY</h3>
                        <hr>

                        <p class="m-0">ITEMS: <b class="float-end"><%=cart.size%></b></p>
                        <p>SUBTOTAL:
                            <b class="float-end">$<%= "%.2f" % [cart_invoice['subtotal']] %></b>
                        </p>
                        <p>Shipping: <b class="float-end">TBD</b></p>

                        <% if !cart.empty? %>
                        <a href="<%= checkout_index_url %>" class="btn btn-primary btn-stretch">GO TO CHECKOUT</a>
                        <% end %>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>