<header class="page-header-plus-pattern">
  <small class="text-uppercase">Race</small>
  <h1><%= @race.name %></h1>
  <div class="d-flex align-items-center">
    <%= link_to "Edit this race", edit_race_path(@race) %> &ensp; /
    <%= button_to "Delete", @race, method: :delete, :class => 'btn-reset d-inline text-danger' %>
  </div>
</header>

<main class="container">
  <div id="breadcrumbs" class="d-flex align-items-center gap-1 py-2 text-bg-light">
    <%= link_to 'Home', root_path, :class => 'text-decoration-none' %> /
    <%= link_to "Races", races_path, :class => 'text-decoration-none' %>
    <i class="bi bi-arrow-right"></i>
    <span class="text-secondary"><%= @race.name %></span>
    <%#= link_to @page.title, page_by_slug_url(slug: @page.slug) %>
  </div>

  <div class="d-flex align-items-center gap-2 mt-3" id="race">
    <i class="bi bi-printer-fill"></i>
    <h3><%= @race.name %></h3>
  </div>

  <ul>
    <li>Characters published: <%= @race.characters.count %></li>
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Character name</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @race.characters.each_with_index do |c, i| %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= link_to c.name, c %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</main>