<div class="page-header-bg-light">
    <h1>Your orders</h1>
    <p class="text-uppercase">
        <%=current_customer.first_name.present? ? current_customer.first_name : current_customer.email %></p>
</div>

<main class="container">
    <div id="breadcrumbs" class="d-flex align-items-center gap-1 py-2 my-3 text-bg-light">
        <%= link_to 'Home', root_path, :class => 'text-decoration-none' %>
        <i class="bi bi-arrow-right"></i>
        <span class="text-secondary">Orders</span>
    </div>

    <% if @orders.empty? %>
    <div class="card">
        <div class="card-body p-5 m-auto"> You have no orders yet. <%= link_to 'Go to store', characters_path %></div>
    </div>
    <% end %>

    <div class="d-flex flex-wrap gap-2">
        <% @orders.each_with_index do |o, i| %>
        <div class="card w-100" id="<%= dom_id o %>" style="max-width: 420px;">
            <div class="p-3">
                <h3>Order Invoice #<%= o.id %></h3>
                <p>Date: <%= o.created_at.in_time_zone(Time.zone).strftime('%a, %b %d %Y, %I:%M%p') %></p>
                <p>Status: <span
                        class="badge <%=o.status=='new' ? 'bg-primary' : o.status=='paid' ? 'bg-success' : 'bg-dark' %>"><%= o.status.capitalize %></span>
                </p>
                <p class="text-uppercase"><b><%= pluralize(o.order_items.size, 'item') %></b> <span
                        class="float-end">Totals</span></p>
                <ul class="list-style-none">
                    <% o.order_items.each do |item| %>
                    <li>
                        <span class="badge bg-secondary fw-normal">x<%=item.quantity%></span>
                        <%=item.character.name%> &ensp; $<%=item.price%>
                        <span class="float-end">$<%="%.2f" % [item.price * item.quantity]%></span>
                    </li>
                    <% end %>
                </ul>
                <hr>
                <p>SUBTOTAL:
                    <span class="float-end">$<%= "%.2f" % [@subtotals[i]] %></span>
                </p>

                <% total = 0 %>
                <ul class="list-style-none">
                    <% if o.gst.present? %>
                    <li>GST <%="%.2f" % [o.gst * 100] %>%:
                        <span class="float-end">$<%= "%.2f" % [o.gst * @subtotals[i]]%></span>
                    </li>
                    <% end %>

                    <% if o.pst.present? %>
                    <li>PST <%="%.2f" % [o.pst * 100] %>%:
                        <span class="float-end">$<%= "%.2f" % [o.pst * @subtotals[i]]%></span>
                    </li>
                    <% end %>

                    <% if o.hst.present? %>
                    <li>HST <%="%.2f" % [o.hst * 100] %>%:
                        <span class="float-end">$<%= "%.2f" %  [o.hst * @subtotals[i]]%></span>
                    </li>
                    <% end %>
                </ul>

                <hr>
                <p>TOTAL:
                    <b class="float-end">$<%= "%.2f" % [o.grand_total || @totals[i]] %></b>
                </p>

                <%#= link_to item.character.name, character_path(item.character) %>
            </div>
        </div>
        <% end %>
    </div>
</main>