<%#= render page %>

<% if @page %>
<div class="page-header-bg-light">
  <h1><%= @page.title %></h1>
</div>
<div class="container">
  <div id="breadcrumbs" class="d-flex align-items-center gap-1 py-2 text-bg-light">
    <%= link_to 'Home', root_path, :class => 'text-decoration-none' %> /
    <%= link_to "Pages", pages_path, :class => 'text-decoration-none' %>
    <i class="bi bi-arrow-right"></i>
    <span class="text-secondary"><%= @page.title %></span>
    <%#= link_to @page.title, page_by_slug_url(slug: @page.slug) %>
  </div>

  <% (@page.content).each_line do |line| %>
  <p><%=line.html_safe%></p>
  <% end %>
</div>
<% else render partial: 'shared/404' end%>

<div>
  <%#= button_to "Destroy this page", @page, method: :delete %>
</div>