<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= character.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= character.price %>
  </p>

  <p>
    <strong>Stat combat:</strong>
    <%= character.stat_combat %>
  </p>

  <p>
    <strong>Stat durability:</strong>
    <%= character.stat_durability %>
  </p>

  <p>
    <strong>Stat intelligence:</strong>
    <%= character.stat_intelligence %>
  </p>

  <p>
    <strong>Stat power:</strong>
    <%= character.stat_power %>
  </p>

  <p>
    <strong>Stat speed:</strong>
    <%= character.stat_speed %>
  </p>

  <p>
    <strong>Stat strength:</strong>
    <%= character.stat_strength %>
  </p>

</div>
