<div id="<%= dom_id character %>" class="card overflow-hidden" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 card-image-cover">
      <% if character.image.present? %>
      <%= image_tag character.image, :class => 'img-fluid rounded-start', alt: character.name %>
      <% else %>
      <%= image_tag("empty_image.jpg") %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><%= character.name %></h3>
        <p class="card-text"><%= character.description[0,70] %>...</p>
        <small class="text-body-secondary"><em>by</em> <%= character.publisher.name %></small>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Combat: <%= character.stat_combat %>, Intelligence:
          <%= character.stat_intelligence %>, Speed: <%= character.stat_speed %></li>
        <li class="list-group-item">
          Price: $<%=character.price%>
          <% if character.on_sale==true %>
          <div class="d-inline-block bg-danger text-light bg-opacity-75 rounded-circle"
            style="width:35px;height:35px;text-align:center;line-height:2;">
            <small style="font-weight:500;">sale!</small>
          </div>
          <% end %>
        </li>
      </ul>
      <div class="card-footer">
        <%= link_to "View #{character.name}", character %>
      </div>
    </div>
  </div>
</div>