<div class="container">
  <div id="breadcrumbs" class="d-flex align-items-center gap-1 py-2 my-3 text-bg-light">
    <%= link_to 'Home', root_path, :class => 'text-decoration-none' %>
    <i class="bi bi-arrow-right"></i>
    <span class="text-secondary">Store</span>
  </div>

  <h1>
    Cards Store
    <% if params[:filter]=='onSale' %>
    <span class="badge text-bg-danger fs-6">On Sale</span>
    <% elsif params[:filter]=='new' %>
    <span class="badge text-bg-success fs-6">New</span>
    <% end %>
  </h1>

  <!-- <div class="d-flex p-4">
    <%#= link_to "+ Add new card", new_character_path, :class => 'btn btn-success ms-auto' %>
  </div> -->

  <div class="d-flex align-items-center flex-wrap gap-2 py-4">
    <%= form_tag(characters_path, method: :get) do %>
    <div class="input-group">
      <input type="text" name="q" id="q" class="form-control" placeholder="Search characters...">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <% end %>
    <div class="ms-md-auto">
      <span class="h4">Filter by: </span>
      <a href="/characters?filter=onSale" class="btn btn-outline-danger text-danger">
        <i class="bi bi-currency-dollar"></i>
        On Sale
      </a>
      <a href="/characters?filter=new" class="btn btn-outline-success text-success">
        <i class="bi bi-stars"></i>
        New
      </a>
      <a href="/characters" class="text-body-secondary rounded-circle"><i class="bi bi-x-lg"></i></a>
    </div>
  </div>

  <div class="alert alert-primary d-flex align-items-center gap-2" role="alert">
    <i class="bi bi-info-circle"></i>
    <div>
      <% if params[:filter]=='onSale' %>
      <%= pluralize(@characters_count, 'character card') %> <span class="text-danger">on sale</span>.
      <% elsif params[:filter]=='new' %>
      <%= pluralize(@characters_count, 'character card') %> <span class="text-success">were recently added</span>.
      <% else %>
      <%= pluralize(@characters_count, 'character card') %> found.
      <% end %>
    </div>
  </div>

  <div id="characters">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @characters.each do |character| %>
      <div class="col">
        <%= render character %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="py-5 d-flex align-items-center justify-content-center">
    <%= paginate @characters %>
  </div>

</div>