<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>
    Character Cards
    <% if params[:filter]=='onSale' %>
    <span class="badge text-bg-danger fs-6">On Sale</span>
    <% elsif params[:filter]=='new' %>
    <span class="badge text-bg-success fs-6">New</span>
    <% end %>
  </h1>

  <div class="d-flex p-4">
    <%= link_to "+ Add new card", new_character_path, :class => 'btn btn-success ms-auto' %>
  </div>

  <div class="d-flex align-items-center gap-2 p-4">
    <span class="h4">Filter by: </span>
    <a href="/characters?filter=onSale" class="btn btn-outline-danger text-danger">
      <i class="bi bi-currency-dollar"></i>
      On Sale
    </a>
    <a href="/characters?filter=new" class="btn btn-outline-success text-success">
      <i class="bi bi-stars"></i>
      New
    </a>
    <a href="/characters" class="text-body-secondary rounded-circle"><i class="bi bi-x-lg"></i></a>
  </div>

  <div class="alert alert-primary d-flex align-items-center gap-2" role="alert">
    <i class="bi bi-info-circle"></i>
    <div>
      <% if params[:filter]=='onSale' %>
      <%= pluralize(@characters_count, 'character card') %> <span class="text-danger">on sale</span>.
      <% elsif params[:filter]=='new' %>
      <%= pluralize(@characters_count, 'character card') %> <span class="text-success">were recently added</span>.
      <% else %>
      <%= pluralize(@characters_count, 'character card') %> found.
      <% end %>
    </div>
  </div>

  <div id="characters">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @characters.each do |character| %>
      <div class="col">
        <%= render character %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="py-5 d-flex align-items-center justify-content-center">
    <%= paginate @characters %>
  </div>

</div>