<header class="page-header-dot-pattern">
  <small class="text-uppercase">Alignment</small>
  <h1><%= @alignment.name == 'good' ? 'Hero' : 'Villain' %></h1>
</header>

<main class="container">
  <div id="breadcrumbs" class="d-flex align-items-center gap-1 py-2 text-bg-light">
    <%= link_to 'Home', root_path, :class => 'text-decoration-none' %> /
    <%= link_to "Alignments", alignments_path, :class => 'text-decoration-none' %>
    <i class="bi bi-arrow-right"></i>
    <span class="text-secondary"><%= @alignment.name %></span>
    <%#= link_to @page.title, page_by_slug_url(slug: @page.slug) %>
  </div>

  <div class="d-flex align-items-center gap-2 mt-3" id="alignment">
    <% if @alignment.name == 'good' %>
    <i class="bi bi-check-circle text-success"></i>
    <% else %>
    <i class="bi bi-radioactive text-danger"></i>
    <% end %>
    <h3><%= @alignment.name %></h3>
  </div>

  <ul>
    <li>Characters published: <%= @alignment.characters.count %></li>
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Character name</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @alignment.characters.each_with_index do |c, i| %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= link_to c.name, c %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</main>